body{
	background-color: pink;
}

#container{
	background-color: lightblue;
	width:360px;
	margin: 0 auto;
	border:2px solid grey;
}

h1{
	text-align: center;
	color:white;
}

.completed{
	color:gray;
	text-decoration: line-through;
}